- var suggestions = [{"title":"General Relativity, Special Relativity, and Gravitational Waves","topic":"Physics","author":"ProfessorBrown","viewers":2342,"thumbnail":"http://i.kinja-img.com/gawker-media/image/upload/s--wkHbNfCf--/191sbt8dnldc8jpg.jpg","videoURL":"video.html","topicURL":"topic/physics","authorURL":"user/professor_brown"},{"title":"Darwin\'s Theory of Evolution","topic":"Biology","author":"Mr. Anderson","viewers":434,"thumbnail":"http://www.ucalgary.ca/admissions/files/admissions/biosci.jpg","videoURL":"video.html","topicURL":"topic/biology","authorURL":"user/janderson"},{"title":"Method Overloading in Java (AP Computer Science)","topic":"Computer Science","author":"Edward Jones","viewers":984,"thumbnail":"http://blog.clearadmit.com/files/2014/07/coding.jpg","videoURL":"video.html","topicURL":"topic/cs","authorURL":"user/edwardj"},{"title":"How to Finish the Frontend of Halp","topic":"Computer Science","author":"Gavy","viewers":3289,"thumbnail":"http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2011/03/colorful-photos-9.jpg","videoURL":"video.html","topicURL":"topic/cs","authorURL":"user/gavy"},{"title":"Lorem ipsum dolor sit amet","topic":"Lorem ipsum","author":"dolor sit amet","viewers":23,"thumbnail":"http://i.kinja-img.com/gawker-media/image/upload/s--wkHbNfCf--/191sbt8dnldc8jpg.jpg","videoURL":"video.html","topicURL":"topic/cs","authorURL":"user/gavy"},{"title":"Lorem ipsum dolor sit amet","topic":"Lorem ipsum","author":"dolor sit amet","viewers":23,"thumbnail":"http://www.ucalgary.ca/admissions/files/admissions/biosci.jpg","videoURL":"video.html","topicURL":"topic/cs","authorURL":"user/gavy"}];

mixin suggestions-video(data)
  .suggestions-video
    a.thumbnail(href=data.videoURL)
      img(src=data.thumbnail alt='')
    a.title(href=data.videoURL)= data.title
    span.details
      a(href=data.topicURL)= data.topic
      .separator
      a(href=data.authorURL)= data.author
      .separator
      span= data.viewers + ' Viewers'

doctype html
html(lang="en")
  head
    title Halp
    link(href='css/home.css', rel='stylesheet', type='text/css')
  body
    include header.jade
    #container
      .suggestions
        h2 Currently Streaming
        if suggestions.length
          each val in suggestions
            +suggestions-video(val)
          else
            .no-content There's no content available at this time. Please try again later.
      .suggestions
        h2 Top Lectures
        if suggestions.length
          each val in suggestions
            +suggestions-video(val)
          else
            .no-content There's no content available at this time. Please try again later.
    include footer.jade
      
