- var user = {"id":428348943,"name":"Jonathan White","thumbnail":"http://www.standupny.com/standupny/wp-content/uploads/2012/12/Joe-Matarese.jpeg","username":"ProfessorBrown","topics":[{"name":"physics","url":"#"},{"name":"chemistry","url":"#"},{"name":"math","url":"#"}],"videos":234,"location":"New York, NY"};

doctype html
html(lang="en")
  head
    title= user.name + " on Halp"
    link(href='css/profile.css', rel='stylesheet', type='text/css')
  body
    include header.jade
    #container
      #user-box
        img(src=user.thumbnail)
        #description
          h2 #{user.name} (#{user.username})
          h3 Topics:
            each topic in user.topics
              a(href=topic.url)= topic.name
          h3 #{user.videos} Videos
          h3= user.location
          h3 Website
          h4 Hi, I'm a physics graduate student at the University of Washington 
